.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: max-content;
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
}

.image-container {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    object-fit: cover;
}

.prev-btn,
.next-btn {
    position: absolute; /* Absolute positioning for buttons */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.prev-btn {
    left: 10px; /* Positioning on the left */
}

.next-btn {
    right: 10px; /* Positioning on the right */
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #0A7075;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.dot.active {
    background-color: #031716;
}

.dot:hover {
    background-color:#0a7075da ;
}

.slide-overlay {
    position: absolute;
    top: 10%;
    justify-content: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: transparent;
    max-width: 60%;
}

.slide-overlay h2 {
    margin: 0 0 10px 0;
    
}


.slide-overlay p {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.slider-button {
    padding: 10px 20px;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



